body {
    background-color: rgb(179, 215, 233);
}

h1 {
    color: #FF2200;
    font-size: 3em;
}

p {
    background-color: darkgrey;
    color: darkgreen;
    font-size: 2em;
}

a{
    color:blue;
    font-size: 2em;
}

p a{ color:lightgreen;
    font-size: 1em;}